body{
    margin-top: 0px;
    background-color: rgb(236, 232, 232);
    font-family: "Kanit", sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.whole{
    background-color:rgb(215, 211, 211);
   
    padding: 30px;
    border-radius:40px ;
    width: 1000px;
}
.contain-all{
    width: 200;
    display: flex;
    justify-content: space-between;
}
#etch-container {
    width: 500px;/* Adjust width as needed */
    height: 68vh; /* Adjust height as needed */
    background-color: rgb(206, 195, 195); /* Optional background color */
    border: 1px solid #000000; /* Optional border */
    padding: 10px;
    border-radius: 20px;
    padding: 12px;
    padding-left: 24px;
    padding-bottom: 22px;
}
.etch-square {
    width: 11px; /* Adjust width and height for desired grid size */
    height: 11px;
    background-color: #ffffff; /* Initially white squares */
    display: inline-block; /* Arrange squares side-by-side */
    border: 0.1px solid ; /* Optional border for each square */
    margin: 0px;
}
#clear-btn{
    margin: 1px;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid;
}

.colorSearch{
    width: 300px;
    height: 300px;
    margin-top: 50px;
    background-color: #ffffff;
    margin-left: 70px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    padding-top: 50px;
   
}
.arrange{
    position: relative;
}

#set-color{
    margin-top: 10px;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid;    
}
